<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>960</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-300</integer>
    <key>familyName</key>
    <string>Lötschberg Extruded</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>960</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Lötschberg monochrome extruded glyf variable font</string>
    <key>openTypeNameDesigner</key>
    <string>ADCV</string>
    <key>openTypeNameManufacturer</key>
    <string>ADCV</string>
    <key>openTypeNameUniqueID</key>
    <string>1.002;ADCV;Loetschberg-w900-d75</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.002</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>960</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>ADCV</string>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>3</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>960</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>300</integer>
    <key>postscriptFontName</key>
    <string>LoetschbergExtruded-w900d75</string>
    <key>postscriptFullName</key>
    <string>Lötschberg Extruded Master w900-d75</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Lötschberg Extruded</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Master w900-d75</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>500</integer>
    <key>year</key>
    <integer>2026</integer>
  </dict>
</plist>
