<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.hand</key>
    <string>A_.hand.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.hand</key>
    <string>A_E_.hand.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Aacute.hand</key>
    <string>A_acute.hand.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflex.hand</key>
    <string>A_circumflex.hand.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresis.hand</key>
    <string>A_dieresis.hand.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Agrave.hand</key>
    <string>A_grave.hand.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aring.hand</key>
    <string>A_ring.hand.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Atilde.hand</key>
    <string>A_tilde.hand.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.hand</key>
    <string>B_.hand.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.hand</key>
    <string>C_.hand.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccedilla.hand</key>
    <string>C_cedilla.hand.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.hand</key>
    <string>D_.hand.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.hand</key>
    <string>E_.hand.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Eacute.hand</key>
    <string>E_acute.hand.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflex.hand</key>
    <string>E_circumflex.hand.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edieresis.hand</key>
    <string>E_dieresis.hand.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Egrave.hand</key>
    <string>E_grave.hand.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Eth.hand</key>
    <string>E_th.hand.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.hand</key>
    <string>F_.hand.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.hand</key>
    <string>G_.hand.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.hand</key>
    <string>H_.hand.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.hand</key>
    <string>I_.hand.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Iacute.hand</key>
    <string>I_acute.hand.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Icircumflex.hand</key>
    <string>I_circumflex.hand.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idieresis.hand</key>
    <string>I_dieresis.hand.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Igrave.hand</key>
    <string>I_grave.hand.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.hand</key>
    <string>J_.hand.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.hand</key>
    <string>K_.hand.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.hand</key>
    <string>L_.hand.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.hand</key>
    <string>M_.hand.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.hand</key>
    <string>N_.hand.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ntilde.hand</key>
    <string>N_tilde.hand.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.hand</key>
    <string>O_.hand.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Oacute.hand</key>
    <string>O_acute.hand.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflex.hand</key>
    <string>O_circumflex.hand.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odieresis.hand</key>
    <string>O_dieresis.hand.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ograve.hand</key>
    <string>O_grave.hand.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslash.hand</key>
    <string>O_slash.hand.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Otilde.hand</key>
    <string>O_tilde.hand.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.hand</key>
    <string>P_.hand.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.hand</key>
    <string>Q_.hand.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.hand</key>
    <string>R_.hand.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.hand</key>
    <string>S_.hand.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.hand</key>
    <string>T_.hand.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Thorn.hand</key>
    <string>T_horn.hand.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.hand</key>
    <string>U_.hand.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Uacute.hand</key>
    <string>U_acute.hand.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Ucircumflex.hand</key>
    <string>U_circumflex.hand.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udieresis.hand</key>
    <string>U_dieresis.hand.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Ugrave.hand</key>
    <string>U_grave.hand.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.hand</key>
    <string>V_.hand.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.hand</key>
    <string>W_.hand.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.hand</key>
    <string>X_.hand.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.hand</key>
    <string>Y_.hand.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Yacute.hand</key>
    <string>Y_acute.hand.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.hand</key>
    <string>Z_.hand.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.hand</key>
    <string>a.hand.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>aacute.hand</key>
    <string>aacute.hand.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflex.hand</key>
    <string>acircumflex.hand.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.hand</key>
    <string>acute.hand.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adieresis.hand</key>
    <string>adieresis.hand.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.hand</key>
    <string>ae.hand.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>agrave.hand</key>
    <string>agrave.hand.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.hand</key>
    <string>ampersand.hand.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aring.hand</key>
    <string>aring.hand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciicircum.hand</key>
    <string>asciicircum.hand.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asciitilde.hand</key>
    <string>asciitilde.hand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterisk.hand</key>
    <string>asterisk.hand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.hand</key>
    <string>at.hand.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>atilde.hand</key>
    <string>atilde.hand.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.hand</key>
    <string>b.hand.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.hand</key>
    <string>backslash.hand.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bar.hand</key>
    <string>bar.hand.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.hand</key>
    <string>braceleft.hand.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.hand</key>
    <string>braceright.hand.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.hand</key>
    <string>bracketleft.hand.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.hand</key>
    <string>bracketright.hand.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>brokenbar.hand</key>
    <string>brokenbar.hand.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.hand</key>
    <string>c.hand.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccedilla.hand</key>
    <string>ccedilla.hand.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedilla.hand</key>
    <string>cedilla.hand.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.hand</key>
    <string>cent.hand.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.hand</key>
    <string>colon.hand.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.hand</key>
    <string>comma.hand.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>copyright.hand</key>
    <string>copyright.hand.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>currency.hand</key>
    <string>currency.hand.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.hand</key>
    <string>d.hand.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>degree.hand</key>
    <string>degree.hand.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis.hand</key>
    <string>dieresis.hand.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divide.hand</key>
    <string>divide.hand.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.hand</key>
    <string>dollar.hand.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessi.hand</key>
    <string>dotlessi.hand.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.hand</key>
    <string>e.hand.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>eacute.hand</key>
    <string>eacute.hand.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflex.hand</key>
    <string>ecircumflex.hand.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edieresis.hand</key>
    <string>edieresis.hand.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>egrave.hand</key>
    <string>egrave.hand.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.hand</key>
    <string>eight.hand.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal.hand</key>
    <string>equal.hand.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>eth.hand</key>
    <string>eth.hand.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.hand</key>
    <string>exclam.hand.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.hand</key>
    <string>exclamdown.hand.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.hand</key>
    <string>f.hand.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.hand</key>
    <string>five.hand.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.hand</key>
    <string>four.hand.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.hand</key>
    <string>g.hand.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.hand</key>
    <string>germandbls.hand.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.hand</key>
    <string>grave.hand.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater.hand</key>
    <string>greater.hand.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotleft.hand</key>
    <string>guillemotleft.hand.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guillemotright.hand</key>
    <string>guillemotright.hand.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.hand</key>
    <string>h.hand.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.hand</key>
    <string>hyphen.hand.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.hand</key>
    <string>i.hand.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>iacute.hand</key>
    <string>iacute.hand.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>icircumflex.hand</key>
    <string>icircumflex.hand.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idieresis.hand</key>
    <string>idieresis.hand.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>igrave.hand</key>
    <string>igrave.hand.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.hand</key>
    <string>j.hand.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.hand</key>
    <string>k.hand.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.hand</key>
    <string>l.hand.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>less.hand</key>
    <string>less.hand.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>logicalnot.hand</key>
    <string>logicalnot.hand.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.hand</key>
    <string>m.hand.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macron.hand</key>
    <string>macron.hand.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>mu.hand</key>
    <string>mu.hand.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.hand</key>
    <string>multiply.hand.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.hand</key>
    <string>n.hand.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.hand</key>
    <string>nine.hand.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ntilde.hand</key>
    <string>ntilde.hand.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numbersign.hand</key>
    <string>numbersign.hand.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.hand</key>
    <string>o.hand.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>oacute.hand</key>
    <string>oacute.hand.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflex.hand</key>
    <string>ocircumflex.hand.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odieresis.hand</key>
    <string>odieresis.hand.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ograve.hand</key>
    <string>ograve.hand.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.hand</key>
    <string>one.hand.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onehalf.hand</key>
    <string>onehalf.hand.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onequarter.hand</key>
    <string>onequarter.hand.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordfeminine.hand</key>
    <string>ordfeminine.hand.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>ordmasculine.hand</key>
    <string>ordmasculine.hand.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslash.hand</key>
    <string>oslash.hand.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>otilde.hand</key>
    <string>otilde.hand.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.hand</key>
    <string>p.hand.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>paragraph.hand</key>
    <string>paragraph.hand.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.hand</key>
    <string>parenleft.hand.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.hand</key>
    <string>parenright.hand.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.hand</key>
    <string>percent.hand.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.hand</key>
    <string>period.hand.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.hand</key>
    <string>periodcentered.hand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.hand</key>
    <string>plus.hand.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>plusminus.hand</key>
    <string>plusminus.hand.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.hand</key>
    <string>q.hand.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.hand</key>
    <string>question.hand.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.hand</key>
    <string>questiondown.hand.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedbl.hand</key>
    <string>quotedbl.hand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotesingle.hand</key>
    <string>quotesingle.hand.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.hand</key>
    <string>r.hand.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>registered.hand</key>
    <string>registered.hand.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.hand</key>
    <string>s.hand.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>section.hand</key>
    <string>section.hand.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon.hand</key>
    <string>semicolon.hand.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.hand</key>
    <string>seven.hand.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.hand</key>
    <string>six.hand.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.hand</key>
    <string>slash.hand.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.hand</key>
    <string>sterling.hand.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.hand</key>
    <string>t.hand.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn.hand</key>
    <string>thorn.hand.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.hand</key>
    <string>three.hand.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threequarters.hand</key>
    <string>threequarters.hand.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.hand</key>
    <string>two.hand.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.hand</key>
    <string>u.hand.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>uacute.hand</key>
    <string>uacute.hand.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>ucircumflex.hand</key>
    <string>ucircumflex.hand.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udieresis.hand</key>
    <string>udieresis.hand.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>ugrave.hand</key>
    <string>ugrave.hand.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>underscore.hand</key>
    <string>underscore.hand.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni00AD.hand</key>
    <string>uni00A_D_.hand.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B2.hand</key>
    <string>uni00B_2.hand.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>uni00B3.hand</key>
    <string>uni00B_3.hand.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>uni00B9.hand</key>
    <string>uni00B_9.hand.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.hand</key>
    <string>v.hand.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.hand</key>
    <string>w.hand.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.hand</key>
    <string>x.hand.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.hand</key>
    <string>y.hand.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>yacute.hand</key>
    <string>yacute.hand.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydieresis.hand</key>
    <string>ydieresis.hand.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.hand</key>
    <string>yen.hand.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.hand</key>
    <string>z.hand.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.hand</key>
    <string>zero.hand.glif</string>
  </dict>
</plist>
